[Unit]
Description=Mailtunnel HTTP API
After=network.target

[Service]
Type=simple
# Replace with appropriate user
User=basic
# Replace with appropriate group
Group=basic
# To find path, exec: which mailtunnel-api
ExecStart=/home/basic/.local/bin/mailtunnel-api
Restart=on-failure
RestartSec=5s
# git repo path
WorkingDirectory=/home/basic/mailtunnel-server/ 

[Install]
WantedBy=multi-user.target
