[Unit]
Description=Mailtunnel Config Dumper
After=network.target

[Service]
Type=simple
User=basic # Replace with appropriate user
Group=basic # Replace with appropriate group
ExecStart=/home/basic/.local/bin/mailtunnel-confdumper # To find path exec: which mailtunnel-api
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/basic/mailtunnel-server/ # git repo path

[Install]
WantedBy=multi-user.target
