[Unit]
Description=Mailtunnel Mail Forwarder
After=network.target

[Service]
Type=simple
# Replace with appropriate user
User=basic
# Replace with appropriate group
Group=basic
# To find path, exec: which mailtunnel-forwarder
ExecStart=/home/basic/.local/bin/mailtunnel-forwarder
Restart=on-failure
RestartSec=5s
# git repo path
WorkingDirectory=/home/basic/mailtunnel-server/

[Install]
WantedBy=multi-user.target
